<p id="notice"><%= notice %></p>
<h1><%= @crew.name %></h1>
<br>
<br>
<%= link_to "/crews/#{@crew.id}/signup", class:"btn_1_outline", turbolinks: false do %>
  <i class=" icon-heart"></i> Kickstar!
<% end %>
<br>
