
<div class="hero">
    <img class="hero__background" src="/assets/back-dc9f65e7a5bb8629f835522dded76a2d14de4b6eed172e23d1ffdab60828fcaf.jpg">
      <h1 class="hero__title"><b>Commencez votre Kickstart</b></h1>
      <h4 class="hero__title">Quand voulez prendre RDV?</h4>
    </p>
  <div class="container hero__title" style="padding: 100px;">
    <%= render 'form', kickstart: @kickstart %>
  </div>
</div>
<div class="modal fade" id="motivation" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <%= render 'add_motivation_form', kickstart: @kickstart %>
    </div>
  </div>
</div>
