	<!-- SubHeader =============================================== -->
<section class="hero">
  <%= image_tag "back.jpg" , class: "hero__background" %>
  <h2 class="main_title  hero__title" style="color:green; width:100%;">
    <strong>Nos services et entrainements</strong>
  </h2>
</section>

<div class="breadcrums">
  <%= link_to "Accueil", "/1/home", data: { turbolinks: false } %> >>
  <u><%= link_to "Nos Service", "" %></u>
</div>

<div class="container" style="padding-top: 5rem;">
  <div class="row">
    <% @services.each do |service| %>
      <%= render 'service_isntance', service: service %>
    <% end %>
	</div>
</div>
