<div class="nested-fields">
  <%= f.file_field :photo, id:"imgInp" %>
  <img class="hidden previeuw" id="blah" src="#" alt="your image" height="150"/>
  <%= link_to_remove_association "supprimez l'image", f %>
</div>
<script type="text/javascript">
function readURL(input) {

  if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
          $('#blah').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function(){
  $('#blah').removeClass( "hidden" )
  readURL(this);
});
</script>
