
<div class="nested-fields col-md-6" id="upload_btn">
  <div class="image-upload">
    <label for="imgInp">
     <span class="btn btn_green_outline" id="upload_btn">
       <i class="icon-picture"></i><br>
       <i class="icon-plus"></i>
       <img class="hidden previeuw img-rounded" id="previeuw" src="#" alt="your image" height="150"/>
     </span>
    </label>
    <%= f.file_field :photo, id:"imgInp", data:{for:'img-upld'}%>
    <%= f.input :vignette, label:"Courte descritpion", html_options:{style: "padding: none;"} %>
  </div>
  <%= link_to_remove_association "<i class='icon-trash'></i>".html_safe, f, class:"trash" %>
</div>
<script type="text/javascript">
  $('input[data-for="img-upld"]').each( function(index) {
    $(this).change( function() {
      let prev_el = $(this).parent().find('img');
      triggerPrevieuw( this, prev_el );
    });
  });
</script>
