<div class="wrapper16_9">
  <div class="picture_frame">
    <a class="magnific-picture notboldhover" href="<%= attached.photo.url %>" title="<%= attached.vignette %>">
      <%= image_tag attached.photo.url, class: "gallery" %>
    </a>
  </div>
</div>
