<div class="nested-fields col-md-6">
  <i class='icon-movie'></i><i class='icon-link-4'></i>
  <%= f.text_field :video_path, style: "max-width: 245px;" %>
  <%= link_to_remove_association "<i class='icon-trash'></i>".html_safe, f , class: "trash"%>
</div>
