<div class="nested-fields">
  <%= f.input :video_path, label:"<i class='icon-movie'></i><i class='icon-link-4'></i>".html_safe %>
  <%= link_to_remove_association "supprimez le lien youtube", f %>
</div>
