<div class="container">
<h1>Editing Kickstart</h1>

<%= render 'form', kickstart: @kickstart %>
<div class="text-right">
<%= link_to 'Show', @kickstart %> |
<%= link_to 'Back', kickstarts_path %>
</div>
</div>
