@charset "UTF-8"
/* Your custom styles */

.popup-form select
  background-color: rgba(#ffffff, 0)
  color: white
  font-size: 17px
  border: 0px solid white
  border-bottom: 2px solid white
  padding: 8px
  margin-top: 19px
  &:focus
    background-color: rgba(#ffffff, 0.30)
    color: grey

.form-control.form-white
  border: 0px solid white
  border-bottom: 2px solid white
  &:focus
    border-bottom: 0px solid white
