@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch')
/* Your custom styles */

$loepard: #5e7942
$secondary: #27927e

body
  background-color: white
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px

main
  background-color: white
  width: 100%
  margin: 0px
  padding: 0px

#logo img
  height: 50px
  width: auto
  margin: 0px 0 0 0

section
  background-color: white
  width: 100%
  margin: 0px
  padding: 0px


footer
  background-color: green
  padding: 45px 0 0 0
  padding-bottom: 10px

footer ul li a
  &:visited
    color: white

a
  color: rgba(green, 0.7)
  &:hover
    font-weight: bold
    background: none
    color: $loepard

.flickr_pagination
  text-align: center
  padding: 0.3em
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
  .disabled
    color: #aaaaaa
  .current
    font-style: normal
    font-weight: bold
    color: black
  a
    border: 1px solid #dddddd
    color: rgba(green, 0.7)
    text-decoration: none
    &:hover, &:focus
      border-color: $loepard
      background: rgba(green, 0.7)
      color: white
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .previous_page, .next_page
    border-width: 2px
  .previous_page
    margin-right: 1em
  .next_page
    margin-left: 1em

.margintop
  margin-top: 30px

.adminbg
  background-color: #f5f7fa

.modal-popup
  position: relative
  padding: 45px 30px
  text-align: center
  background: white
  border-radius: 0px
  border: none

.popup-form select
  background-color: rgba(#ffffff, 0)
  color: white
  font-size: 17px
  border: 0px solid white
  border-bottom: 2px solid white
  padding: 8px
  margin-top: 19px
  &:focus
    background-color: rgba(#ffffff, 0.30)
    color: grey

.form-control.form-white
  border: 0px solid white
  border-bottom: 2px solid white
  &:focus
    border-bottom: 0px solid white

.step .form-control
  color: black
  border: 0px solid #a0a0a0
  border-bottom: 2px solid #a0a0a0
  &:focus
    border-bottom: 3px solid #4088DA
  select
    padding: 2rem

input:not(:empty)
  color: black

.step-form
  width: 90%
  max-width: 775px
  margin: 30px auto

.hero
  background-color: white
  position: relative
  width: 100%
  padding: 5em 0
  overflow: hidden
  // Hide overflow to contain the background

.hero__background
  position: absolute
  top: 0
  left: 0
  width: 200%
  // Where the magic happens
  -webkit-filter: blur(5px)
  -webkit-transform: translate3d(0, 0, 0)

.hero__title
  background: white
  position: relative
  text-align: center
  color: $loepard

.previeuw
  max-height: 20rem
  max-width: 20rem

.btn_outline
  padding: 12px 20px

.form_title h3 strong
  background-color: $loepard

a.navlinks
  color: rgba(green, 0.7)
  &:hover
    color: black
    font-size: 12px
  &:visited
    color: rgba(green, 0.7)

a.btn_full
  &:hover
    color: white

button.btn_1
  width: 100%
  &:active
    background-color: white
    color: green
    border-color: green

a.btn
  color: rgba(green, 0.7)
  &:hover
    color: $loepard
    background-color: rgba(#ffffff, 0)
    border-color: $loepard

a.btn.active
  color: $loepard
  background-color: rgba(#ffffff, 0)
  border-color: $loepard
  border-radius: 3px
  padding: 8px 20px
  width: 100%

#testimonials
  background: $secondary

a.btn_white_outline
  border: 2px solid white
  font-family: inherit
  font-size: 20px
  color: white
  width: 100%
  cursor: pointer
  padding: 8px 20px
  display: inline-block
  outline: none
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  display: block
  text-align: center
  font-weight: 600
  text-transform: none
  &:hover
    color: $secondary
    background-color: white

a.btn_green_outline
  border: 2px solid #04af00
  font-family: inherit
  color: #04af00
  width: 100%
  cursor: pointer
  padding: 8px 20px
  display: inline-block
  outline: none
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  display: block
  text-align: center
  font-weight: 600
  text-transform: none
  &:hover
    color: black
    border: 2px solid black


button.btn.btn-default
  border-color: white
  &:hover
    color: #ed5434
    background-color: white
    border-color: white
  &:focus
    color: #fff
    background-color: #ed5434
    border-color: #ed5434
    outline: none

button.btn.btn-primary
  color: #fff
  background-color: #ed5434
  border-color: #ed5434
  &:focus
    color: #fff
    background-color: #ed5434
    border-color: #ed5434
    outline: none
  &:active
    color: #fff
    background-color: #ed5434
    border-color: #ed5434
  &:hover
    color: #fff
    background-color: #ed5434
    border-color: #ed5434

.image-upload >
  input
    display: none
  label
    cursor: pointer

#sidebar ul
  margin: 0px

.admin_content
  padding: 20px

.vids_index img
  width: 100%
  height: auto

a.vids
  float: left
  position: relative
  color: red
  span
    width: 100%
    height: 100%
    position: absolute
    background-position: 50% 50%
    background-size: 300%

@media screen and (max-width: 480px)
  a.vids span
    background-size: 400%
