@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch')

$loepard: #5e7942
$secondary: #f49671
$adminprimary: #ed5434

body
  background-color: white
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px

main
  background-color: white
  width: 100%
  margin: 0px
  padding: 0px

#logo img
  height: 50px
  width: auto
  margin: 0px 0 0 0

.owl-carousel .owl-item img
  max-height: 300px
  display: block
  width: auto

.img-responsive, img.gallery
  display: inline
  max-width: 100%
  height: 100%


.navbar-inverse
  background-color: white
  border: 5px
  border-color: $secondary

.navborder
  background-color: $secondary
  color: $secondary
  font-size: 1px

.navbar-inverse .navbar-nav > li > a
  color: $secondary
  &:hover
    color: $adminprimary

.main-menu#admin > ul > li > a
  color: $secondary
  &:hover
    color: $adminprimary

section
  background-color: white
  width: 100%
  margin: 0px
  padding: 0px

.scrollable
  height: 230px
  overflow-y: auto

footer
  background-color: green
  padding: 45px 0 0 0
  padding-bottom: 10px

footer ul li a
  &:visited
    color: white

a
  color: rgba(green, 0.7)
  &:hover
    font-weight: bold
    background: none
    color: $loepard

.notboldhover
  &:hover
    all: unset

.flickr_pagination
  text-align: center
  padding: 0.3em
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
  .disabled
    color: #aaaaaa
  .current
    font-style: normal
    font-weight: bold
    color: black
  a
    border: 1px solid #dddddd
    color: rgba(green, 0.7)
    text-decoration: none
    &:hover, &:focus
      border-color: $loepard
      background: rgba(green, 0.7)
      color: white

.navbar-inverse .navbar-brand
  color: $secondary
  background: white
  &:hover
    color: $adminprimary

.navbar-header
  min-width: 320px

#sidebar .list-group-item
  color: $secondary
  border: none
  &:hover
    color: $adminprimary

.page_info
  color: #aaaaaa
  padding-top: 0.8em
.previous_page, .next_page
  border-width: 2px
.previous_page
  margin-right: 1em
.next_page
  margin-left: 1em

.margintop
  margin-top: 30px

.adminbg
  background-color: #f5f7fa

.modal-popup
  position: relative
  padding: 45px 30px
  text-align: center
  background: white
  border-radius: 0px
  border: none

.popup-form select
  background-color: rgba(#ffffff, 0)
  color: white
  font-size: 17px
  border: 0px solid white
  border-bottom: 2px solid white
  padding: 8px
  margin-top: 19px
  &:focus
    background-color: rgba(#ffffff, 0.30)
    color: grey

.invis_btn
  a.btn_1
    visibility: hidden

.indent_title_in i
  color: $loepard

div.multimedia
  &:hover
    background-color: #f4f4f4

.picture_frame
  position: absolute
  width: 100%
  height: 100%

.thumb_frame
  height: 4vw
  width: 4vw

.big_thumb_frame
  height: 6vw
  width: 6vw

.trainer_frame
  width: 100%

input.form-control#email_newsletter
  width: 100%

a.coach_frame
  border: 2px solid white
  font-family: inherit
  font-size: 15px
  color: #333333
  width: 100%
  cursor: pointer
  padding: 8px 20px
  display: inline-block
  outline: none
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  display: block
  text-align: center
  font-weight: 600
  text-transform: none
  &:hover
    color: $loepard
    background-color: #f4f4f4
    border-color: #f4f4f4


.form-control.form-white
  border: 0px solid white
  border-bottom: 2px solid white
  &:focus
    border-bottom: 0px solid white

input.form-control
  padding: none
  height: auto

ul#course_info
  background-color: #5e7942
  margin: 0
  padding: 10px
  list-style: none
  color: #fff

.step .form-control
  color: black
  border: 0px solid #a0a0a0
  border-bottom: 2px solid #a0a0a0
  &:focus
    border-bottom: 3px solid #4088DA
  select
    padding: 2rem

input:not(:empty)
  color: black

.step-form
  width: 90%
  max-width: 775px
  margin: 30px auto

.hero
  background-color: white
  position: relative
  width: 100%
  padding: 5em 0
  overflow: hidden
  // Hide overflow to contain the background

.hero__background
  position: absolute
  top: 0
  left: 0
  width: 200%
  // Where the magic happens
  -webkit-filter: blur(5px)
  -webkit-transform: translate3d(0, 0, 0)

.hero__title
  background: white
  position: relative
  text-align: center
  color: $loepard

.previeuw
  max-height: 20rem
  max-width: 20rem

.btn_outline
  padding: 12px 20px

.form_title h3 strong
  background-color: $loepard

a.navlinks
  color: rgba(green, 0.7)
  &:hover
    color: black
    font-size: 12px
  &:visited
    color: rgba(green, 0.7)

a.btn_full
  &:hover
    color: white

button.btn_1
  width: 100%
  &:active
    background-color: white
    color: green
    border-color: green

a.btn_1
  &:hover
    background-color: white

a.btn_1.social
  width: 100%
  font-size: 2rem
  margin-bottom: 2rem
  border-radius: 0px
  border: 1px solid
  i
    font-size: 4rem
  &:hover
    background-color: white

a.btn_1.social.facebook
  border-color: #4867aa
  background-color: #4867aa
  &:hover
    background-color: inherit
    color: #4867aa

a.btn_1.social.google
  border-color: #dd4f43
  background-color: #dd4f43
  &:hover
    background-color: inherit
    color: #dd4f43

a.btn
  color: rgba(green, 0.7)
  &:hover
    color: $loepard
    background-color: rgba(#ffffff, 0)
    border-color: $loepard

a.btn.active
  color: $loepard
  background-color: rgba(#ffffff, 0)
  border-color: $loepard
  border-radius: 3px
  padding: 8px 20px
  width: 100%

#testimonials
  background: $secondary

a.btn_white_outline
  border: 2px solid white
  font-family: inherit
  font-size: 20px
  color: white
  width: 100%
  cursor: pointer
  padding: 8px 20px
  display: inline-block
  outline: none
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  display: block
  text-align: center
  font-weight: 600
  text-transform: none
  &:hover
    color: $secondary
    background-color: white

.btn_green_outline
  border: 2px solid #04af00
  font-family: inherit
  color: #04af00
  width: 100%
  cursor: pointer
  padding: 8px 20px
  display: inline-block
  outline: none
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  transition: all 0.3s
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  display: block
  text-align: center
  font-weight: 600
  text-transform: none
  &:hover
    color: black
    border: 2px solid black


button.btn.btn-default
  border-color: white
  &:hover
    color: $adminprimary
    background-color: white
    border-color: white
  &:focus
    color: #fff
    background-color: $adminprimary
    border-color: $adminprimary
    outline: none

button.btn.btn-primary
  color: #fff
  background-color: $adminprimary
  border-color: $adminprimary
  &:focus
    color: #fff
    background-color: $adminprimary
    border-color: $adminprimary
    outline: none
  &:active
    color: #fff
    background-color: $adminprimary
    border-color: $adminprimary
  &:hover
    color: #fff
    background-color: $adminprimary
    border-color: $adminprimary

.image-upload >
  input
    display: none
  label
    cursor: pointer

.wrapper16_9
  width: 100%
  display: inline-block
  position: relative
  &:after
    padding-top: 56.25%
    display: block
    content: ''

.wrapper-squared
  width: 50%
  display: inline-block
  position: relative
  &:after
    padding-bottom: 100%
    display: block
    content: ''

div.video_ratio
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  iframe
    width: 100%
    height: 100%


a.trash
  color: red
  &:hover
    color: red
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)

#sidebar ul
  margin: 0px

.admin_content
  padding: 20px

.vids_index
  width: 100%
  height: auto

a.vids
  float: left
  position: relative
  color: red
  span
    width: 100%
    height: 100%
    position: absolute
    background-position: 50% 50%
    background-size: 300%

@media screen and (max-width: 480px)
  a.vids span
    background-size: 400%

.panel-group
  width: 100%
  margin-bottom: 0px

a#view_all
  background: #fff
  color: $loepard
  &:hover
    background: $loepard
    color: #fff

figure#course
  max-height: 200px
  min-height: 200px

.course_title
  max-height: 137px
  min-height: 137px

.dropdown-menu.custom_edit_multimedia
  right: 18px
  top: -125px
  left: 55px
  width: 400px
  padding: 12px
  border-color: $adminprimary

.dropdown-menu label
  color: black

img.mfp-img
  width: auto
  max-width: 800px

.box_style_2
  background-color: #f88f33

.emergency_box
  border: 4px solid #f88f33
  border-radius: 12px
  margin-bottom: 20px
  padding: 20px
